/* navbar */
.navbar{
    position: sticky;
}
.column{
    justify-content: center;
    padding-left: 20px;

}
.box{
    margin: 20px;
    height: 200px;
    width: 400px;
    background-color: rgb(143, 140, 140);
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
}
.box h2{
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.box p{
    font-size: 1rem;
}

/* My Image */
.about img{
    padding: 0px 20px;
    width: 400px;
    height: 300px;
}
.name{
    padding: 5px;
}
.name h2{
    font-size: 1.7rem;

}
.name p{
    font-size: 1rem;
}
